@import url("https://fonts.googleapis.com/css2?family=Anton&family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --fundo: #141210;
  --segundo-fundo: #1a1714;
  --fundo-card-destaque: #211d18;
  --texto-principal: #ede6da;
  --texto-secundario: #b8afa2;
  --texto-apoio: #a39a8d;
  --botoes-precos: #c8a25c;
  --hover: #e0be7e;
  --borda-cards: #2e2924;
  --borda-campos-horarios: #3a342e;
  --borda-botao-secundario: #5a5148;
  --borda-menu-footer: #2a2622;
}

body {
  background-color: var(--fundo);
}

nav {
  display: flex;
  justify-content: space-between;
  padding-left: 70px;
  padding-right: 70px;
  height: 100px;
  align-items: center;
  border-bottom: 1px solid var(--borda-menu-footer);
}

nav .name {
  color: var(--texto-principal);
  font-family: "Anton";
  text-transform: uppercase;
  font-size: 30px;
}

nav span {
  color: var(--botoes-precos);
  font-size: 20px;
}

nav .links {
  display: flex;
  align-items: center;
  gap: 35px;
  font-family: "Archivo";
  font-size: 15px;
}

nav .links a {
  text-decoration: none;
  color: var(--texto-principal);
}

nav .links a.btn-agendar {
  background-color: var(--botoes-precos);
  padding: 12px 25px;
  color: var(--fundo);
}
